<h1>All Attractions:</h1>
<br>
<% if @current_user.admin? %>

  <ul>
    <% @attractions.each do |attraction|%>
      <li><%= link_to "Show #{attraction.name}", attraction_path(attraction) %></li>
    <% end %>

    <%= link_to 'New Attraction', new_attraction_path %>
  </ul>

<% else %>

  <ul>
    <% @attractions.each do |attraction|%>
      <li><%= link_to "Go on #{attraction.name}", attraction_path(attraction) %></li>
    <% end %>
  </ul>

<% end %>
